
html {
  height: 100%;
}
body {
  width: 100%;
  height: auto%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-image: linear-gradient(rgba(127, 143, 233, 0.692), rgba(114, 68, 158,1)); */
  background-repeat: no-repeat;
  background: rgba(0,0,0,0.5);
  margin: 0px;
}
.center-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.center-me > textarea {
  margin-top: 100px;
  width:66%;
  background-color: rosybrown;
  border-radius: 5px;
  border: none;
  outline: none;
  height: inherit;
  resize: none;
}

ul > li > div> textarea {
  width:inherit;
  height: inherit;
  outline: none;
  resize: none;
  border-radius: 5px;
  border: none;
}
.fsc {        
  max-width: 500px;
  max-height: 300px;
  width: inherit;
  scroll-behavior: smooth;
}
.fsc > div {
  height: 0;
  width: inherit;
}
li {
  background-color: aqua;
}

.buttons-wrapper {
  width: 66%;
  display: flex;
  justify-content: center;  
}
body > div button {
  width: 100%;
  margin-top: 2px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 2px solid black;
  max-width: 400px;
  transition-duration: 1s;
  font-weight: 900;
  /**/
}
body > div > div > div > button{
  color: black;
}
body > div > div > div > button#addButton {
  transition-duration: 0s;
}
body > div > div > div > button#resetButton {
  transition-duration: 0.5s;
}

.outline-red {
  outline-color: rgb(250, 9, 9);
}
.no-outline {
  outline-color: rgba(0,0,0,0);
}

#resetButton:hover {
  background-color: red;
  transition-duration: 0.5s;
}

ul > li {
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 2px solid black;
  border-color: rgba(88,122,59,0.8);
  width: inherit;
  max-width: 66%;
  outline-color: rgba(0,0,0,0);
  width: inherit;
  display: flex;
  justify-content: space-between;  

}

ul > li > button {
  width: 20%;
  align-self: flex-end;
  align-items: flex-end;
}
li textarea {
  line-height: 1.5;
  word-spacing: 3px;
  width: 100%;
  resize: none;
  background-color: transparent;
  align-self: center;
  border: none;
  outline-color: rgba(0,0,0,0);
  padding-left: 10px;
  padding-right: 15px;
}

li textarea:disabled {
  color: blue;
}

textarea {
  direction: ltr;
}

li, .react-tagsinput {
  direction: ltr;
}

/* testing custom scroll */
textarea::-webkit-scrollbar {
  width: 7px;
}

textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

textarea::-webkit-scrollbar-thumb {
  background-color: rgba(255, 207, 50, 0.5);
  /* outline: 1px solid slategrey; */
}

ul > li > div > div > button:hover{
  background-color: blueviolet;
  transition-duration: 1s;
}

div.to-make-editable {
  display: flex;
}

[flex-column] {
  display: flex;
  flex-direction: column;
}
.flex-dir {
  display: flex;
  flex-direction: column;
}

.wrapper-tags {
  width: inherit;
  max-width: 50%;
  display: flex;
  justify-content: center;
}

div {
  color: rgb(216, 22, 22);
  font-family: Arial, Helvetica, sans-serif
}

textarea::placeholder {
  color: rgba(253, 249, 249, 0.753);
  transition-duration: 1.71s;
}
li > div > div > textarea::placeholder {
  color: rgb(236, 53, 53);
  transition-duration: 1.71s;
}

:disabled {
  color: cadetblue;
}